<div class='container'>
  <div class='panel'>
    <div class='panel-heading text-center'>
      <h1>ABOUT US</h1>
    </div>
    <div class='panel-body'>
      <p>We are a group of JavaScript and hardware enthusiasts working to create an inclusive community for anyone to begin or continue to learn about <a target="_blank" href="http://nodebots.io">NodeBots</a>. You don't need to know anything about hardware or programming to join us. We can get you building robots in under an hour, and we would love to have you join us!</p>
    </div>
  </div>
  <div class='panel'>
    <div class='panel-heading text-center'>
      <h1>ORGANIZERS</h1>
    </div>
  </div>
  <div class='thumbnail'>
    <img src="/images/steve.jpeg">
    <div class='caption'>
      <h3>Steve Kinney</h3>
      <p><a target="_blank" href="http://turing.io/">Turing</a> Instructor and JavaScript guru.</p>
      <a target="_blank" href="https://twitter.com/stevekinney">@stevekinney</a>
    </div>
  </div>
  <div class='thumbnail'>
    <img src="/images/alan.jpeg">
    <div class='caption'>
      <h3>Alan Smith</h3>
      <p><a target="_blank" href="http://turing.io/">Turing</a> Alumni and web developer at LivingSocial.</p>
      <a target="_blank" href="https://twitter.com/_alanbsmith">@_alanbsmith</a>
    </div>
  </div>
  <div class='thumbnail'>
    <img src="/images/corey.jpeg">
    <div class='caption'>
      <h3>Corey Davis</h3>
      <p><a target="_blank" href="http://turing.io/">Turing</a> Alumni and web developer at Commerce Kitchen.</p>
      <a target="_blank" href="https://twitter.com/spanulate">@spanulate</a>
    </div>
  </div>
</div>