<div class='container'>
  <div class='panel'>
    <div class='panel-heading text-center'>
      <h1>EVENTS</h1>
    </div>
    <div class='panel-body'>
      <p>We are currently planning our International NodeBots Day event for July 25, 2015.</p>
    </div>
  </div>
  <div class='panel'>
    <div class='panel-heading text-center'>
      <h1>NODEBOTS DAY 2015</h1>
    </div>
  </div>
  <div class='thumbnail'>
    <div class='caption'>
    <img src="/images/nodebots-logo.png">
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class='panel'>
        <div class='panel-heading' id='headingOne'>
          <h5>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            DETAILS
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>WHEN : July 25, 2015, TIME : TBD</p>
        <p>WHERE : <a target="_blank" href="https://www.google.com/maps/place/Turing+School+of+Software+%26+Design/@39.7497291,-104.9999798,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c4f77d2b15:0x3ff4c7d558d0edd1">Turing School of Software & Design</a></p>
      </div>
    </div>
  </div>
</div>