<div class='container'>
  <div class='panel'>
    <div class='panel-heading text-center'>
      <h1>RESOURCES</h1>
    </div>
    <div class='panel-body'>
      <p>We are committed to keeping our resources open-source and available to everyone. These resources include tutorials/code samples, helpful explanations/external resources, and lesson plans. You can find all of these resources on Github <a target="_blank" href='https://github.com/nodebots-colorado/'>here</a>.</p>
    </div>
  </div>
</div>